.color{
    background-color: #3c4241;
    color: black;
}
body{
    background-color: #00000a;
    
}
.data{
    background-image: linear-gradient(#cdd3d0,#232423);
    color: white;
}
.navbar-brand{
    
    text-shadow: #494954;
}
